*{
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}


/* MENU */

.contenedor-header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Chewy', cursive;
    font-size: 36px;
    color: #472950;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    font-family: 'Chewy', cursive;
    text-align: none;
    color: #472950;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #d292e6; 
}

.nav-responsive {
    color:#333;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



/* SECCION INICIO */

.inicio {
    background-color: #4e3953;
    url(img/fondo.jpg);
    background-size: cover;
    height: 120vh;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #fff;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    color: #472950;
    margin-top: 20px;
    font-size: 42px;
    font-family: 'Chewy', cursive;
    margin-bottom: 20px;
}

.inicio .contenido-banner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: 100;
    color: #2b2a2a;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.inicio .contenido-banner .redes a {
    color: #472950; 
    display: inline-block;
    text-decoration: none;
    border: 1px solid #472950;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    color: #d292e6;
}



/* SOBRE MÍ */

.sobremi {
    background-color: #4e3953;
    padding: 50px 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sobremi h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #472950;
    font-family: 'Chewy', cursive;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #2b2a2a;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-family: 'Prata', serif;
    font-size: 24px;
    margin-bottom: 25px;
    color: #2b2a2a;
    text-align: left;
    margin-top: 30px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
    margin-bottom: 10px;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #472950;
    font-weight: bold;
    width: 130px;
}

.sobremi .fila .col ul li span {
    font-weight: normal;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #4e39534d;
    border-radius: 10px;
    margin: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    transform: scale(1.05);
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #4e3953;
}



/* SECCION SKILLS */

.skills {
    background-color: #4e3953;
    padding: 50px 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.skills h2 {
    font-family: 'Chewy', cursive;
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    color: #472950;
    margin-bottom: 20px;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Soft Skills */

.col h3 {
    color: #2b2a2a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.soft {
    margin-bottom: 20px;
    padding: 15px;
    background: #4e395328;
    border-left: 4px solid #4e3953;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.soft span {
    font-size: 20px;
    color: #2b2a2a;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.soft p {
    font-size: 16px;
    color: #464646;
    line-height: 1.6;
    margin: 0;
}

.soft:hover {
    background-color: #4e39534d;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}


/* SECCION CURRICULUM */

.curriculum {
    background-color: #4e3953;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;   
    margin: auto;
}

.curriculum h2 {
    font-family: 'Chewy', cursive;
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #fff;
    font-weight: 100;
    font-family: 'Chewy', cursive;
}

.curriculum .fila .derecha {
    border-left: 2px solid #fff;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #fff;
    border-left: 5px solid #c37ada;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #472950;
    font-weight: bold;
}

.curriculum .fila .item .casa {
    color: #472950;
    font-size: 22px;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #472950;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}


.curriculum .fila .der {
    border-left: 2px solid #c37ada;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #c37ada;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c37ada;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #c37ada;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #c37ada;
    float: left;
    position: relative;
    bottom: 4px;
}



/* SECCION PORTFOLIO */

.portfolio {
    background-color: #4e3953;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Chewy', cursive;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 40px;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(116, 46, 156, 0.8), rgba(245, 245, 220, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}



/* SECCION CONTACTO */

.contacto {
    background-color: #fff;
    color: #2b2a2a;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto .contenido-seccion .informacion-contacto {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Chewy', cursive;
    text-align: center;
    padding: 20px 0;
    color: #472950;
}

.item-contacto {
    margin: 15px 0; 
}

.contact-link {
    text-decoration: none; 
    color: #472950; 
    font-size: 20px;
    display: flex;
    align-items: center; 
}

.contact-link i {
    margin-right: 10px; 
}

.contact-link:hover {
    color: #d292e6; 
}


/* FOOTER */

footer {
    background-color: #4e3953;
    color: #fff;
    padding: 40px 0;
    position: relative;
    width: 100%;
    border-top: 2px solid #d292e6;
}

footer .arriba {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #d292e6;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

.footer-contenido {
    max-width: 1100px;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.frase-inspiradora {
    font-size: 18px;
    font-family: "Oleo Script", system-ui;
    color: #fff;
    margin-bottom: 40px;
    text-align: center; 
    padding-right: 0; 
}

.footer-mapa {
    text-align: center;
    margin-bottom: 20px;
}

.footer-mapa iframe {
    max-width: 100%;
    height: 200px;
    border: 0;
}

footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}



/* SECCION RESPONSIVE */

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #fff;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }

    .footer-contenido {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .frase-inspiradora {
        text-align: left;
        margin-bottom: 30px;
        padding-right: 0;
    }

    .footer-mapa {
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }
    
    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }

    .footer-contenido {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .frase-inspiradora {
        text-align: center;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .footer-mapa {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-mapa iframe {
        width: 100%;
        height: 200px;
    }

    footer p {
        font-size: 12px;
    }
}